.App {
  border-radius: 110px;
  text-align: center;
}

h2 {
  color: black;
}

.navbar {
  border: solid;
  background-color: black;
  color: whitesmoke;
}

.navlink {
  margin: 20px;
  color: white;
  word-spacing: 5px;
  box-sizing: border-box;
}

.navlink :visited {
  color: yellow;
}

.main {
  display: "flex";
  justify-content: "space-around";
  display: grid;
}

.related-products {
  color: white;
  background-color: black;
  border-style: solid;
}

.featured-products {
  color: white;
  background-color: black;
}

.user-hist {
  color: white;
  background-color: black;
}
